body {
    padding: 0;
    margin: 0;
}
.container{
    margin-top:10px;
    display:flex;
    /* align-items: center; */
    justify-content: space-around;
    align-items: center;
}

.start{
    background-color: pink; 
    border-radius: 5px;
    color:red;

}
.grid{
    width: 200px;
    height: 400px;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    height: 20px;
    width: 20px;
}
.tetromino{
    background-color: blue;
}

.mini-grid{
    background-color: green;
    border: 1px solid black;
    width:80px;
    height:80px;
    display:flex;
    flex-wrap:wrap;

}

.mini-grid div{
    width:20px;
    height:20px;
}
