body {
    padding: 0;
    margin: 0;
    background-color:#fbc531 ;
}
.title{
    color: #636e72;
}
.center{
    display:flex;
    justify-content: center;
}

.welcome-tetris-game{
    font-family: 'Bangers', cursive;
    font-size: 5rem;
}

.score-display-color{
    font-size: 2rem;
    color: red;
    background-color: beige;
    border-radius: 5px;
    padding: 1rem 2rem;
    border: 1px solid;
    margin-bottom: 10px;
}

.container{
    margin-top:10px;
    display:flex;
    justify-content: center;
    /* align-items: center; */
}

.start{
    background-color: pink; 
    border-radius: 5px;
    color:red;

}

.gridBox{
    width: 300px;
    /* background: green; */
    justify-content: center;
    display:flex;
    align-content: center;
}
.grid{
    width: 200px;
    height: 400px;
    background-color: #2f3640;
    display: flex;
    flex-wrap: wrap;
    border-radius:5px;
}

.grid div {
    height: 20px;
    width: 20px;
}


.tetromino{
    background-color: blue;
    -moz-box-shadow:    inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow:         inset 0 0 5px #000000;
}

.mini-grid{
    background-color: green;
    border: 1px solid black;
    width:80px;
    height:80px;
    display:flex;
    flex-wrap:wrap;
}

.mini-grid div{
    width:20px;
    height:20px;
}

.next{
    justify-content: center;
    display: flex;
}
.animate2{
    animation-name:pulse;
    animation-duration: 2s;
    animation-timing-function:ease-in-out;
    animation-iteration-count: 2;
    background-color:black;
    font-size: 2rem;
    color: red;
    border-radius: 5px;
    padding: 1rem 2rem;
    border: 1px solid;
    margin-bottom: 10px;
}

@keyframes pulse {
  0% {
    opacity: 0;
    background-color:black;
  }
  100% {
    opacity: 1;
    background-color:yellow;
  }
}