body {
    padding: 0;
    margin: 0;
}
.container{
    display:flex;
    align-items: center;
    justify-content: center;
}

.start{
    background-color: pink; 
    border-radius: 5px;
    color:red;

}
.grid{
    width: 200px;
    height: 400px;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    height: 20px;
    width: 20px;
}
.tetromino{
    background-color: blue;
}

